<div class="container-card" *ngFor="let project of projects">
  <mat-card class="project-card">
    <img mat-card-image src="{{project.img}}" alt="{{project.title}}">
    <mat-card-header>
      <div class="card-infos">
        <div class="data-user">
          <div mat-card-avatar class="project-header-image" style="background-image: url({{userImg}})">
          </div>
          <p> {{project.firstName! + ' ' + project.lastName!}} &nbsp;&bull;
            {{project.releaseDate}}</p>
        </div>
      </div>
    </mat-card-header>
  </mat-card>
</div>
