.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.img-container {
  display: none;
}

.div-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 8%;
}
@media screen and (min-width: 992px) {
  .container {
    justify-content: flex-start;
  }
  .img-container {
    display: block;
  }
  .img-container img {
    height: 100vh;
  }

  .div-form h5 {
    font-size: 3rem !important;
    margin-bottom: 3rem;
  }

  .sub-fomulario {
    display: flex;
    justify-content: space-between;
    gap: 1+0.25rem;
  }

  .div-form {
    width: 70%;
  }
}
