<div class="container">
  <div class="img-container">
    <img src="assets/imgs/img_cadastro.svg" alt="cadastro_orange_portfolio">
  </div>
  <div class="div-form">
    <h5> Cadastre-se </h5>
    <form [formGroup]="form">
      <div class="sub-fomulario">
        <mat-form-field class="input" id="nameField" appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="input" id="lastNameField" appearance="outline">
          <mat-label>Sobrenome</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <mat-form-field class="input" appearance="outline">
        <mat-label>Email address</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="input" appearance="outline">
        <mat-label>Password</mat-label>
        <input type={{password}} matInput>
        <mat-icon (click)="onClick()" *ngIf="!visibility" matSuffix>visibility</mat-icon>
        <mat-icon (click)="onClick()" *ngIf="visibility" matSuffix>visibility_off</mat-icon>
      </mat-form-field>
      <button class="btn-primary" mat-raised-button color="primary">CADASTRAR</button>
    </form>
  </div>
</div>
