<app-nav-bar></app-nav-bar>
<div class="container-mobile">
  <div class="container-data">
    <p>works</p>

    <!-- <app-project-card class="projects-list" [userName]="name" [projects]="[modal.project]"
      [userImg]="profileImg"></app-project-card>
    <app-project-card></app-project-card>
    <div class="project-description">
      <p>{{.project.description}}<br><br></p>
      <p *ngIf="project.link"> Download <br> <a (click)="goTo(modal.project.link)" target="_blank">{{project.link}}</a>
      </p>
    </div> -->
  </div>
</div>