<div class="container">
  <div class="profile">
    <div>
      <img class="profile-img" src={{user.profileImg}} alt="">
    </div>
    <div class="user-data">
      <h5>
        {{user.name}}
      </h5>
      <p>{{user.locale}}</p>
      <div class="create-project">
        <button mat-raised-button class="btn-secondary">ADICIONAR PROJETO</button>
      </div>
    </div>
  </div>

  <div class="project-container">
    <div class="search-bar">
      <h6>Buscar projetos</h6>
      <form [formGroup]="searchForm" action="">
        <mat-form-field class="input" appearance="outline">
          <mat-label>Buscar tags</mat-label>
          <input type="text" formControlName="search" matInput>
        </mat-form-field>
      </form>
    </div>
    <div class="projects">
      <div class="empty-projects" *ngIf="!projects.length">
        <a type="button" class="add-project">
          <mat-icon class="mat-18">collections</mat-icon>
          <p>Adicione seu primeiro projeto</p>
          <label>Compartilhe seu talento com milhares de pessoas</label>
        </a>
      </div>

      <div class="projects-list" *ngIf="projects.length">
        <div *ngFor="let project of projects">
          <mat-card class="example-card">
            <img mat-card-image src="{{project.img}}" alt="{{project.title}}">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image" style="background-image: url({{user.profileImg}})">
              </div>
              <mat-card-title>{{user.name}}</mat-card-title>
              <mat-card-subtitle>{{project.releaseDate}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions *ngFor="let item of project.tags">
              <button mat-button>{{item}}</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

    </div>
  </div>

</div>
