<div class="container">
  <div class="profile">
    <div>
      <img class="profile-img" src={{user.profileImg}} alt={{user.name}}>
    </div>
    <div class="user-data">
      <h5>
        {{user.name}}
      </h5>
      <p>{{user.locale}}</p>
      <div class="create-project">
        <button mat-raised-button class="btn-secondary">ADICIONAR PROJETO</button>
      </div>
    </div>
  </div>

  <div class="project-container">
    <div class="search-bar">
      <h6>Buscar projetos</h6>
      <form [formGroup]="searchForm" action="">
        <mat-form-field class="input" appearance="outline">
          <mat-label>Buscar tags</mat-label>
          <input type="text" (blur)="isSearchEmpty()" formControlName="search" matInput>
        </mat-form-field>
      </form>
    </div>
    <div class="projects">
      <div class="empty-projects" *ngIf="!projects.length">
        <a type="button" class="add-project">
          <mat-icon class="mat-18">collections</mat-icon>
          <p>Adicione seu primeiro projeto</p>
          <label>Compartilhe seu talento com milhares de pessoas</label>
        </a>
      </div>
      <div *ngIf="searchResultEmpty">No results found.</div>
      <div *ngIf="!searchResultEmpty">
        <app-project-card class="projects-list" [userName]="user.name"
          [projects]="searchProjects.length ? searchProjects : projects" [userImg]="user.profileImg"></app-project-card>
      </div>
    </div>
  </div>
</div>
