<div class = "container"> 
      <h5> Cadastre-se </h5>
      <div class = "div-form">
            <form [formGroup]="form">
                <div>
                  <mat-form-field class = "input" appearance="outline">
                        <mat-label>Nome</mat-label>
                        <input matInput>
                  </mat-form-field>
                  <mat-form-field  class = "input" appearance="outline">
                        <mat-label>Sobrenome</mat-label>
                        <input matInput>
                  </mat-form-field>
                  <mat-form-field class = "input" appearance="outline">
                        <mat-label>Email address</mat-label>
                        <input matInput>
                  </mat-form-field>
                  <mat-form-field  class = "input" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type={{password}} matInput>
                        <mat-icon (click)= "onClick()" *ngIf="!visibility" matSuffix>visibility</mat-icon>
                        <mat-icon (click)= "onClick()" *ngIf="visibility" matSuffix>visibility_off</mat-icon>
                  </mat-form-field>
                </div>
                <button class = "btn" mat-raised-button color="primary">Cadastrar</button>
            </form>
      </div>
</div>