<div class="container">
      <div class="img-container">
        <img src="assets/imgs/img_register.svg" alt="cadastro_orange_portfolio">
      </div>
        <div class="div-form">
        <div class = "on-sign-up-success" *ngIf="successAlert">
          <div class = "on-sign-up-success-icon">
            <img src="../../../assets/logos/success-icon.svg" alt="Success Icon">
          </div>
          <div class = "on-sign-up-text">
            <span> Cadastro feito com sucesso</span>
          </div>
        </div>
        <div class = "on-sign-up-error" *ngIf="errorAlert">
          <div class = "on-sign-up-error-icon">
            <img src="../../../assets/logos/error-icon.svg" alt="Error Icon">
          </div>
          <div class = "on-sign-up-text">
            <span> Ocorreu um erro ao tentar realizar o cadastro</span>
          </div>
        </div>
        <h5> Cadastre-se </h5>
        <form [formGroup]="form">
          <div class="sub-fomulario">
            <mat-form-field class="input" id="nameField" appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName = "name">
              <mat-error *ngIf="form.get('name')?.invalid">{{formErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="input" id="lastNameField" appearance="outline">
              <mat-label>Sobrenome</mat-label>
              <input matInput formControlName = "lastName">
              <mat-error *ngIf="form.get('lastName')?.invalid">{{formErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <mat-form-field class="input" appearance="outline">
            <mat-label>Email address</mat-label>
            <input matInput formControlName = "email">
            <mat-error *ngIf="form.get('email')?.invalid">{{formErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field class="input" appearance="outline">
            <mat-label>Password</mat-label>
            <input type={{password}} matInput formControlName = "password">
            <mat-error *ngIf="form.get('password')?.invalid">{{formErrorMessage()}}</mat-error>
            <mat-icon (click)="onClick()" *ngIf="!visibility" matSuffix>visibility</mat-icon>
            <mat-icon (click)="onClick()" *ngIf="visibility" matSuffix>visibility_off</mat-icon>
          </mat-form-field>
          <button (click)="singUp()" class="btn-primary" mat-raised-button color="primary">
            <mat-progress-spinner *ngIf="loading" diameter="24" mode="indeterminate"
              [color]="loading ? 'var(--color-principal-70)' : '#edeff2'"></mat-progress-spinner>
            <span *ngIf="!loading">CADASTRAR</span></button>
        </form>
      </div>
    </div>