<p id = "titulo-login">Entre no Orange Portfólio</p>
<div id = "div-signin">
    <div id = "div-btn-google">
        <button id = "btn-google"> Entrar com google </button> <!-- alterar posteriormente -->  
    </div>   
</div>
<div id = "div-form">
<form [formGroup]="form">
    <p id = "msg-login">Faça login com email</p>
    <div>
        <mat-form-field class="field">
            <input matInput placeholder="Email address" formControlName="email" required>
            <mat-error *ngIf="form.get('email')?.invalid">{{formErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="field">
            <input matInput placeholder="Password" formControlName="senha" required>
            <mat-error *ngIf="form.get('password')?.invalid">{{formErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div id = "div-btn-login">
        <button id = "btn-login" mat-button color="primary" size="large">  Entrar </button>    
    </div>
    <p id = "msg-register"> Cadastre-se</p>
</form>
</div>