<div class = "container">
<div mat-dialog-title class="dialog-title">
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="main-info">
  <h5>Camila Soares</h5>
  <h5>Ecommerce One Page</h5>
  <h5>UX WEB</h5>
</div>
<!-- carregar componente de upload-->
<div class="upload-img">
  <div class="projects">
      <div class="empty-projects">
        <span class="add-project">
          <mat-icon class="mat-18">collections</mat-icon>
          <p>Adicione seu primeiro projeto</p>
          <label>Compartilhe seu talento com milhares de pessoas</label>
        </span>
      </div>
      <img class="project-cover" alt="Imagem selecionada" />
  </div>
</div>
<div class = "project-description">
  <p> Temos o prazer de compartilhar com vocês uma variação da nosso primeiro recurso gratuito, Monoceros. É um modelo de uma página para mostrar seus produtos. Tentamos redesenhar uma versão mais B2C e minimalista do nosso primeiro template de e-commerce.
  <p>Download <br> <a href= "">https://gumroad.com/products/wxCSL</a></p>
</div>
</div>