<div class = "container">
<div mat-dialog-title class="dialog-title">
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="main-info">
  <div class = "profile-info">
    <img class = "profile-img" src="assets/imgs/img_profile_orange_portfolio.png" alt="Profile Icon">
    <span id = "username" >{{ modal.user.name }} {{ modal.user.lastName }}</span>
  </div>
  <h5 id = "project-title">{{modal.project.title}}</h5>
  <mat-chip-set>
    <mat-chip *ngFor="let tag of modal.project.tags">{{tag}}</mat-chip>
  </mat-chip-set>
</div>
<!-- carregar componente de upload-->
<div class="upload-img">
  <div class="projects">
      <div *ngIf="!modal.project.img" class="empty-projects">
        <span class="add-project">
          <mat-icon class="mat-18">collections</mat-icon>
        </span>
      </div>
      <img  [src]="modal.project.img" class="project-cover" alt="Imagem selecionada"/>
  </div>
</div>
<div class = "project-description">
  <p>{{modal.project.description}}</p>
</div>
</div>