<div class="container-card" *ngFor="let project of projects">
  <mat-card class="project-card">
    <img mat-card-image src="{{project.img}}" alt="{{project.title}}">
    <mat-card-header>
      <div class="card-infos">
        <div class="data-user">
          <div mat-card-avatar class="project-header-image" style="background-image: url({{userImg}})">
          </div>
          <p> {{userName}} &nbsp;&bull; {{project.releaseDate}}</p>
        </div>
        <div class="chips">
          <mat-card-actions *ngFor="let item of project.tags">
            <mat-chip>{{item}}</mat-chip>
          </mat-card-actions>
        </div>
      </div>
    </mat-card-header>
  </mat-card>
</div>