<div *ngFor="let project of projects">
  <mat-card class="example-card">
    <img mat-card-image src="{{project.img}}" alt="{{project.title}}">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" style="background-image: url({{userImg}})">
      </div>
      <mat-card-title>{{userName}}</mat-card-title>
      <mat-card-subtitle>{{project.releaseDate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions *ngFor="let item of project.tags">
      <button mat-button>{{item}}</button>
    </mat-card-actions>
  </mat-card>
</div>
