<div class="container-card" *ngFor="let project of projects">
  <mat-card class="project-card">
    <div *ngIf="!project.firstName" class="button-container">
      <button class="radios-btn" mat-icon-button [matMenuTriggerFor]="beforeMenu"
        aria-label="Example icon-button with a menu" (click)="$event.stopPropagation()">
        <mat-icon class="icon">edit</mat-icon>
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button (click)="editItem(project)" mat-menu-item>
          <span>Editar</span>
        </button>
        <button mat-menu-item>
          <span>Excluir</span>
        </button>
      </mat-menu>
    </div>
    <img mat-card-image src="{{project.img}}" alt="{{project.title}}">
    <mat-card-header>
      <div class="card-infos">
        <div class="data-user">
          <div mat-card-avatar class="project-header-image" style="background-image: url({{userImg}})">
          </div>
          <p> {{project.firstName ? project.firstName! + ' ' + project.lastName! : userName}} &nbsp;&bull;
            {{project.releaseDate}}</p>
        </div>
        <div class="chips">
          <mat-card-actions ngIf="!project.firstName" *ngFor="let item of project.tags">
            <mat-chip>{{item}}</mat-chip>
          </mat-card-actions>
        </div>
      </div>
    </mat-card-header>
  </mat-card>
</div>