<div class="container">
  <h5 class="titulo-login">Entre no Orange Portfólio</h5>
  <div class="div-signin">
    <div class="div-botao-google">
      <a mat-raised-button routerLink=".">
        <mat-icon>favorite</mat-icon>
        Entrar com o google
      </a>
    </div>
  </div>
  <div class="div-form">
    <form [formGroup]="form">
      <p class="msg-login">Faça login com e-mail</p>
      <div class="div-campos">
        <mat-form-field class="input" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input type="email" matInput placeholder="e-amil">
          <mat-error *ngIf="form.get('email')?.invalid">{{formErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label>Password</mat-label>
          <input type={{password}} matInput>
          <mat-icon (click)="onClick()" *ngIf="!visibility" matSuffix>visibility</mat-icon>
          <mat-icon (click)="onClick()" *ngIf="visibility" matSuffix>visibility_off</mat-icon>
          </mat-form-field>
      </div>
      <div class="div-botao-entrar">
        <button mat-raised-button class="btn-primary">Entrar</button>
      </div>
      <p class="msg-cadastro"> Cadastre-se</p>
    </form>
  </div>

</div>
