<div class="container">
  <h5 class="titulo-login">Entre no Orange Portfólio</h5>
  <div class="div-signin">
    <div>
      <a class="div-botao-google" routerLink=".">
        <img src="assets/button-icons/logoGoogle.svg" alt="Logo do Google" class="google-logo">
        <span class="btntexto">Entrar com o google</span>
      </a>
    </div>
  </div>
  <div class="div-form">
    <form [formGroup]="form">
      <p class="msg-login">Faça login com e-mail</p>
      <div class="div-campos">
        <mat-form-field class="input" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input type="email" matInput>
          <mat-error *ngIf="form.get('email')?.invalid">{{formErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label>Password</mat-label>
          <input type={{password}} matInput>
          <mat-icon (click)="onClick()" *ngIf="!visibility" matSuffix>visibility</mat-icon>
          <mat-icon (click)="onClick()" *ngIf="visibility" matSuffix>visibility_off</mat-icon>
        </mat-form-field>
      </div>
      <div class="div-botao-entrar">
        <button [disabled]="loading" (click)="login()" mat-raised-button class="btn-primary">
          <mat-progress-spinner *ngIf="loading" diameter="24" mode="indeterminate"
            [color]="loading ? 'var(--color-principal-70)' : '#edeff2'"></mat-progress-spinner>
          <span *ngIf="!loading">Entrar</span></button>
      </div>
      <a routerLink="." class="msg-cadastro"> Cadastre-se</a>
    </form>
  </div>

</div>