.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div-signin {
  margin: 1rem;
}

.div-form {
  display: flex;
  width: 19.5rem;
  height: 16.9375rem;
  padding-bottom: 0.1875rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.125rem;
}

.msg-cadastro {
  margin-top: 1.13rem;
}
