.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.div-signin {
  margin: 1rem;
}

.msg-login {
  color: var(--Neutral-Colors-Neutral-110, #515255);
}
.msg-cadastro {
  color: var(--Neutral-Colors-Neutral-110, #515255);
  text-decoration: none;
}

.div-botao-entrar {
  margin-bottom: 1.13rem;
}
.div-form {
  display: flex;
  width: 19.5rem;
  height: 16.9375rem;
  padding-bottom: 0.1875rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.125rem;
}

.div-botao-google {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  gap: 16px !important;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
}

.google-logo {
  width: 24px;
  height: 24px;
}
