<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="right-side">
            <div class = "div-logo">
                <button mat-icon-button class="logo-orange" aria-label="Example icon-button with menu icon">
                    <mat-icon svgIcon="Logo Orange Juice">menu</mat-icon>
                </button>
            </div>
            <div class = "div-icons">
                <button mat-icon-button class="circle" aria-label="Example icon-button with menu icon">
                    <mat-icon svgIcon="Circle">menu</mat-icon>
                </button>
                <button mat-icon-button class="icon-notification" aria-label="Example icon-button with menu icon">
                    <mat-icon svgIcon="Icon Notification">menu</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>