<div class="container">
  <h5>Editar perfil</h5>
  <div class="profile">
    <div>
      <img class="profile-img" src="assets\imgs\img_profile_orange_portfolio.png" alt="">
    </div>
    <div class="user-data">
      <h5>
        Willian Costa
      </h5>
      <div class="create-project">
        <button mat-raised-button class="btn-secondary">SELECIONAR NOVA FOTO
          DE PERFIL</button>
        <span>*para confirmar a alteração da foto de perfil, clique em atualizar informações!</span>
      </div>
    </div>
  </div>
  <form [formGroup]="formProfile" action="">
    <div class="sub-form">
      <mat-form-field class="input" appearance="outline">
        <mat-label>Nome</mat-label>
        <input type="text" matInput formControlName="name">
        <mat-error *ngIf="formProfile.get('name')?.invalid">{{formErrorMessage('name')}}</mat-error>
      </mat-form-field>
      <mat-form-field class="input" appearance="outline">
        <mat-label>Sobrenome</mat-label>
        <input type="text" matInput formControlName="lastName">
        <mat-error *ngIf="formProfile.get('lastName')?.invalid">{{formErrorMessage('lastName')}}</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="input" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input type="email" matInput formControlName="email">
      <mat-error *ngIf="formProfile.get('email')?.invalid">{{formErrorMessage('email')}}</mat-error>
    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
      <mat-label>País</mat-label>
      <input type="text" matInput formControlName="country">
      <mat-error *ngIf="formProfile.get('country')?.invalid">{{formErrorMessage('country')}}</mat-error>
    </mat-form-field>
    <div class="div-btn-signin">
      <button [disabled]="loading" mat-raised-button class="btn-primary">
        <mat-progress-spinner *ngIf="loading" diameter="24" mode="indeterminate"
          [color]="loading ? 'var(--color-principal-70)' : '#edeff2'"></mat-progress-spinner>
        <span *ngIf="!loading">ATUALIZAR INFORMAÇÕES</span></button>
    </div>
  </form>

  <div class="password-conteiner">
    <p>Alterar senha</p>
    <form [formGroup]="formPassword" action="">
      <mat-form-field class="input" appearance="outline">
        <mat-label>Senha antiga</mat-label>
        <input type={{password}} matInput formControlName="oldPassword">
        <mat-error *ngIf="formPassword.get('password')?.invalid">{{formErrorMessage('password')}}</mat-error>
        <mat-icon (click)="onClick('old')" *ngIf="!visibilityOld" matSuffix>visibility</mat-icon>
        <mat-icon (click)="onClick('old')" *ngIf="visibilityOld" matSuffix>visibility_off</mat-icon>
      </mat-form-field>
      <mat-form-field class="input" appearance="outline">
        <mat-label>Nova senha</mat-label>
        <input type={{password}} matInput formControlName="newPassword">
        <mat-error *ngIf="formPassword.get('password')?.invalid">{{formErrorMessage('password')}}</mat-error>
        <mat-icon (click)="onClick('new')" *ngIf="!visibilityNew" matSuffix>visibility</mat-icon>
        <mat-icon (click)="onClick('new')" *ngIf="visibilityNew" matSuffix>visibility_off</mat-icon>
      </mat-form-field>
      <div class="div-btn-signin">
        <p *ngIf="hasError" class="error-message">{{ hasError }}</p>
        <button [disabled]="loading" mat-raised-button class="btn-primary">
          <mat-progress-spinner *ngIf="loading" diameter="24" mode="indeterminate"
            [color]="loading ? 'var(--color-principal-70)' : '#edeff2'"></mat-progress-spinner>
          <span *ngIf="!loading">ATUALIZAR senha</span></button>
      </div>
    </form>
  </div>

</div>