<h5 mat-dialog-title>Adicionar projeto</h5>
<mat-dialog-content class="mat-typography">
  <div class="div-form">
    <!-- considerar a criacao de um componente para formulario -->
    <form [formGroup]="form">
      <div class="sub-fomulario">
        <mat-form-field class="input" id="nameField" appearance="outline">
          <mat-label>Título</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input" id="lastNameField" appearance="outline">
          <mat-label>Tags</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <mat-form-field class="input" appearance="outline">
        <mat-label>Link</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field id="description-field" class="input" appearance="outline">
        <mat-label>Descrição</mat-label>
        <input matInput />
      </mat-form-field>
    </form>
  </div>
  <p class="subtitle-1">Selecione o conteúdo que você deseja fazer upload</p>
  <!-- carregar componente de upload-->
  <div class="div-finish-modal">
    <span class="subtitle-1"> Visualizar publicação</span>
    <mat-dialog-actions align="end">
      <button id="button-save" mat-button mat-dialog-close>SALVAR</button>
      <button id="button-cancel" mat-button [mat-dialog-close]="true" cdkFocusInitial>
        CANCELAR
      </button>
    </mat-dialog-actions>
  </div>
</mat-dialog-content>
